@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --green: hsl(87, 100%, 70%);
  --dark: hsl(234, 17%, 12%);
  --grey: hsl(0, 0%, 95%);
}

body {
  font-size: 1.6rem;
  font-family: 'Space Grotesk', sans-serif;
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem 0 2rem;
  background-color: white;
}

h1 {
  font-size: 4.3rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
}

.flex {
  display: flex;
}


nav {
  display: none;
}

nav ul {
  list-style: none;
  font-size: 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

nav button {
  background-color: transparent;
  padding: 2rem 3.5rem;
  border-radius: 1.4rem;
  font-size: 2rem;
  font-weight: 400;
}

header {
  justify-content: space-between;
  margin-bottom: 4rem;
  align-items: center;
}

.logo {
  width: 14.4rem;
  
}

.hero {
  flex-direction: column;
}

.hero-content img {
  width: 100%;
  min-width: 20rem;
  margin-bottom: 2.2rem;
}

.hero-content button {
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 2rem;
  font-weight: 400;
  color: white;
  background-color: var(--dark);
  border-radius: 1.4rem;
  margin-top: 4rem;
  border: none;
  cursor: pointer;
}




@media screen and (min-width: 600px) and (max-width: 1079px) {
  nav {
    display: inline;
    flex-wrap: wrap;
    
  }

  nav button {
    display: none;
  }

  nav ul {
    font-size: 1.6rem;
  }

  .menu {
    display: none;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
  .hero-content img {
    width: 50rem;
  }

  }

@media (min-width: 1080px) {
  body {
    padding: 3rem 10rem 0 10rem;
  }

  h1 {
    font-size: 6rem;
    font-weight: 500;
  }
  
  h2 {
    font-size: 4rem;
    font-weight: 500;
  }
  
  h3 {
    font-size: 3rem;
    font-weight: 500;
  }
  
  h4 {
    font-size: 2rem;
    font-weight: 500;
  }
  
  p {
    font-size: 1.8rem;
    font-weight: 400;
  }


  nav {
    display: block;
  }
  .menu {
    display: none;
  }

  .hero-content {
    max-width: 100%;
    display: grid;
    grid-template-areas:
      'h1 img'
      'h4 img'
      'button img';
    grid-template-columns: repeat(2, 1fr);
    margin-top: 7rem;
    
  }

  .hero-content h1,
  .hero-content h4,
  .hero-content button {
    width: 100%;
  }

  .hero-content img {
    width: 100%;
    max-width: none;
  }

  .hero-content button {
    margin: 0;
    padding: 2rem 3.5rem;
    border-radius: 1.4rem;
    font-size: 2rem;
    font-weight: 400;
    max-height: 7rem;
    max-width: 25rem;
    margin-top: 2rem;
  }

}

@media screen and (min-width: 1303px) and (max-width: 1700px) {

  .hero-content h1 {
    display: flex;
    align-items: center;
  }

  .hero-content h4 {
    width: 50rem;
    height: 8rem
  }
}